include mixins.pug

body
	link(rel="stylesheet" href="../../css/calendar.scss" )
	section.hero.calendar
		article
			.contenu
				h3 Календарь праздничных дней на 2025 год
				p Обычно отпускные меньше зарплаты, так ее начисляют за рабочие дни, а отпуск – за календарные. Поэтому чем больше в месяце рабочих дней, тем меньше вы потеряете денег. Причем это правило работает вне зависимости от того будете ли отдыхать разом 28 дней или только 14.
				br
				p Чтобы максимально сохранить свою зарплату, ориентируйтесь на месяцы с наибольшим количеством рабочих дней – 22 и 23. Для наглядности мы отметили в календаре месяца с наибольшим количеством рабочих дней в 2025 году.
				br 
				p Таким образом, в 2025 году самыми выгодными для отпуска месяцами будет
					strong  апрель, июль, сентябрь, октябрь и декабрь. 
				p А самыми невыгодными
					strong  январь, май, июнь и ноябрь
				.mobile-slider-navigation
					button.slider-nav-btn.slider-nav-btn-prev
					span.monthes-nav-names Январь – Март
					button.slider-nav-btn.slider-nav-btn-next
				.calendar-container
					.calendar-colors
						+dayTypes(day_type)
					.months
						each month in months
							+month(month, day_of_week)
	script(type="module" src="../../js/calendar.js")